<div class="header">
  <div class="brand">
    <div class="logo"></div>
    <div class=""><a href="/">Schools Portal of Nigeria</a></div>
  </div>

  <div class="nav">
    <ul class="menu">
      <li class="menu-item search-bar svgContainer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          />
        </svg>
      </li>
      <li class="menu-item">
        <a href="" class="menu_link"> About &nbsp;<span>SPN</span></a>
      </li>
      <li class="menu-item">
        <a href="/api-for-developers" class="menu_link">API for Developers</a>
      </li>
      <li class="menu-item">
        <a href="" class="menu_link">Register a School</a>
      </li>
      <li class="menu-item"><a href="" class="menu_link">Sign up</a></li>
    </ul>
  </div>

  <div class="svgContainer mobile-menu-toggler">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-menu"
    >
      <line x1="3" y1="12" x2="21" y2="12"></line>
      <line x1="3" y1="6" x2="21" y2="6"></line>
      <line x1="3" y1="18" x2="21" y2="18"></line>
    </svg>
  </div>
</div>
