<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../modules/head.ejs'); %>
    <title>Schools Portal of Nigeria</title>
  </head>
  <body id="api-for-developers">
    <header><%-include('../components/header.ejs'); %></header>
    <main>
      <div class="main">
        <section class="section hero">
          <div class="content">
            <div class="active">API For Developers</div>
            <div class="">Launching soon</div>
          </div>
        </section>
      </div>

      <div class="modal">
        <div class="modal-close">&times;</div>
        <h2>Welcome to Version 2.0 of Schools Portal of Nigeria</h2>
      </div>
    </main>
    <footer><%-include('../components/footer.ejs'); %></footer>

    <script src="/js/index.js" type="module"></script>
  </body>
</html>
